<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
 
 
<hibernate-configuration>
 
	<session-factory>

<!-- Database connection properties - Driver, URL, user, password -->
<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hibernateDB</property>
<property name="hibernate.connection.username">root</property>
<property name="hibernate.connection.password">0909</property>

<property name="hbm2ddl.auto">update</property>
<property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
<property name="show_sql">true</property>
<!-- Mapping model/entity class having annotations   -->
<mapping  class="entities.Users"  /> 
<mapping  class="entities.Flights"  />  
<mapping  class="entities.Routes"  /> 
<mapping  class="entities.Bookings"  /> 
<mapping  class="entities.Seats"  />  
<mapping  class="entities.Payments"  /> 
<mapping  class="entities.Admin"  />

 
	</session-factory>
 
 
</hibernate-configuration>		
